.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-16 .elementor-element.elementor-element-a74bce6.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-16 .elementor-element.elementor-element-a74bce6:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-a74bce6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #72217B;
}

.elementor-16 .elementor-element.elementor-element-a74bce6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-16 .elementor-element.elementor-element-a74bce6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-8bc2bc3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-8bc2bc3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-8bc2bc3.elementor-column {
    width: 20%;
    align-self: inherit;
    cursor: default;
}

.elementor-16 .elementor-element.elementor-element-8bc2bc3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-9c0bada {
    text-align: left;
}

.elementor-16 .elementor-element.elementor-element-9c0bada img {
    width: 107px;
}

.elementor-bc-flex-widget .elementor-16 .elementor-element.elementor-element-9234fb5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-9234fb5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-9234fb5.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-16 .elementor-element.elementor-element-9234fb5.elementor-column {
    width: 80%;
    align-self: inherit;
    cursor: default;
}

.elementor-16 .elementor-element.elementor-element-9234fb5>.elementor-element-populated {
    padding: 25px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item:hover,
.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-feb084e);
    fill: var( --e-global-color-feb084e);
}

.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-feb084e);
}

.elementor-16 .elementor-element.elementor-element-dc81a81 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
    width: auto;
    max-width: auto;
}

.elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-16 .elementor-element.elementor-element-dc81a81>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-74d91be .elementor-icon-wrapper {
    text-align: center;
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-feb084e);
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-default .elementor-icon:hover {
    color: var( --e-global-color-feb084e);
    border-color: var( --e-global-color-feb084e);
}

.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-74d91be.elementor-view-default .elementor-icon:hover svg {
    fill: var( --e-global-color-feb084e);
}

.elementor-16 .elementor-element.elementor-element-74d91be .elementor-icon {
    font-size: 25px;
}

.elementor-16 .elementor-element.elementor-element-74d91be .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-74d91be .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-16 .elementor-element.elementor-element-74d91be {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-a74bce6 {
        padding: 0px 20px 0px 20px;
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-a74bce6 {
        padding: 0px 20px 0px 20px;
    }
    .elementor-16 .elementor-element.elementor-element-8bc2bc3.elementor-column {
        width: 50%;
    }
    .elementor-16 .elementor-element.elementor-element-9234fb5.elementor-column {
        width: 50%;
    }
    .elementor-16 .elementor-element.elementor-element-9234fb5>.elementor-element-populated {
        padding: 15px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu .elementor-item {
        font-size: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-dc81a81 {
        --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2);
    }
    .elementor-16 .elementor-element.elementor-element-dc81a81 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0px;
    }
}

/* Start custom CSS for section, class: .elementor-element-a74bce6 */

/* Add a Shadow to Header Menu */

.elementor-16 .elementor-element.elementor-element-a74bce6.elementor-sticky--effects {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    background: #72217B !important;
}

/* Header Menu transition*/

.elementor-16 .elementor-element.elementor-element-a74bce6 {
    transition: box-shadow 0.3s ease !important;
}

/* Change Header Menu Height when Scroll Down */

.elementor-16 .elementor-element.elementor-element-a74bce6 .elementor-container {
    height: 100px;
    background: transparent !important;
}

.elementor-16 .elementor-element.elementor-element-a74bce6.elementor-sticky--effects>.elementor-container {
    height: 70px;
}

.elementor-16 .elementor-element.elementor-element-a74bce6>.elementor-container {
    transition: height 0.3s ease !important;
}

/* Change Logo Width when Scroll Down */

.elementor-16 .elementor-element.elementor-element-a74bce6.elementor-sticky--effects>.elementor-container .logo {
    width: 70px;
}

.elementor-16 .elementor-element.elementor-element-a74bce6>.elementor-container .logo {
    transition: width 0.3s ease !important;
}

/* End custom CSS */