.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-d7e229a.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-142 .elementor-element.elementor-element-d848cd0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-142 .elementor-element.elementor-element-d848cd0.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-142 .elementor-element.elementor-element-d848cd0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-142 .elementor-element.elementor-element-10e2e23 img {
    width: 150px;
}

.elementor-142 .elementor-element.elementor-element-10e2e23>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-36d085f.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-142 .elementor-element.elementor-element-36d085f {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-142 .elementor-element.elementor-element-3d979e3.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-142 .elementor-element.elementor-element-3d979e3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2);
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2);
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2);
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2);
}

body.rtl .elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2);
}

body:not(.rtl) .elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2);
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-icon i {
    color: #FFAA32;
}

.elementor-142 .elementor-element.elementor-element-8395d83 .elementor-icon-list-icon svg {
    fill: #FFAA32;
}

.elementor-142 .elementor-element.elementor-element-8395d83 {
    --e-icon-list-icon-size: 25px;
}

.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-55bc341.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-142 .elementor-element.elementor-element-55bc341 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-142 .elementor-element.elementor-element-eec50ae.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-142 .elementor-element.elementor-element-eec50ae.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-142 .elementor-element.elementor-element-eec50ae>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-142 .elementor-element.elementor-element-3e99b2e {
    text-align: center;
    width: 720px;
    max-width: 720px;
}

.elementor-142 .elementor-element.elementor-element-3e99b2e .elementor-heading-title {
    color: #0B0B35;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}

.elementor-142 .elementor-element.elementor-element-3e99b2e.ob-harakiri {
    writing-mode: inherit;
}

.elementor-142 .elementor-element.elementor-element-3e99b2e.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-3e99b2e.ob-harakiri .elementor-widget-container>div {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-3e99b2e .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-759e0d5.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-142 .elementor-element.elementor-element-759e0d5 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-142 .elementor-element.elementor-element-65a9236.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-142 .elementor-element.elementor-element-65a9236.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-142 .elementor-element.elementor-element-65a9236>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-142 .elementor-element.elementor-element-1ed5da4 {
    width: 427px;
    max-width: 427px;
}

.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-142 .elementor-element.elementor-element-834407a.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-142 .elementor-element.elementor-element-834407a {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-142 .elementor-element.elementor-element-0a51ce8.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-142 .elementor-element.elementor-element-0a51ce8.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-142 .elementor-element.elementor-element-0a51ce8>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-142 .elementor-element.elementor-element-e5a299a {
    text-align: center;
    width: 720px;
    max-width: 720px;
}

.elementor-142 .elementor-element.elementor-element-e5a299a .elementor-heading-title {
    color: #0B0B35;
    font-family: "Montserrat", Sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
}

.elementor-142 .elementor-element.elementor-element-e5a299a.ob-harakiri {
    writing-mode: inherit;
}

.elementor-142 .elementor-element.elementor-element-e5a299a.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-e5a299a.ob-harakiri .elementor-widget-container>div {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-e5a299a .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-142 .elementor-element.elementor-element-0b3ac17 {
    text-align: center;
    width: 720px;
    max-width: 720px;
}

.elementor-142 .elementor-element.elementor-element-0b3ac17 .elementor-heading-title {
    color: #0B0B35;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
}

.elementor-142 .elementor-element.elementor-element-0b3ac17.ob-harakiri {
    writing-mode: inherit;
}

.elementor-142 .elementor-element.elementor-element-0b3ac17.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-0b3ac17.ob-harakiri .elementor-widget-container>div {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-142 .elementor-element.elementor-element-0b3ac17 .elementor-widget-container {
    mix-blend-mode: inherit;
}

@media(max-width:1024px) {
    .elementor-142 .elementor-element.elementor-element-10e2e23 img {
        width: 200px;
    }
    .elementor-142 .elementor-element.elementor-element-10e2e23>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-142 .elementor-element.elementor-element-36d085f {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .elementor-142 .elementor-element.elementor-element-3e99b2e .elementor-heading-title {
        font-size: 30px;
        line-height: 35px;
    }
    .elementor-142 .elementor-element.elementor-element-3e99b2e {
        width: 605px;
        max-width: 605px;
    }
    .elementor-142 .elementor-element.elementor-element-e5a299a .elementor-heading-title {
        font-size: 20px;
        line-height: 25px;
    }
    .elementor-142 .elementor-element.elementor-element-0b3ac17 .elementor-heading-title {
        font-size: 16px;
        line-height: 22px;
    }
}

@media(max-width:767px) {
    .elementor-142 .elementor-element.elementor-element-10e2e23 img {
        width: 150px;
    }
    .elementor-142 .elementor-element.elementor-element-8395d83 {
        --e-icon-list-icon-size: 20px;
    }
    .elementor-142 .elementor-element.elementor-element-3e99b2e .elementor-heading-title {
        font-size: 20px;
        line-height: 25px;
    }
    .elementor-142 .elementor-element.elementor-element-3e99b2e {
        width: 249px;
        max-width: 249px;
    }
    .elementor-142 .elementor-element.elementor-element-1ed5da4 {
        width: 260px;
        max-width: 260px;
    }
    .elementor-142 .elementor-element.elementor-element-e5a299a .elementor-heading-title {
        font-size: 20px;
        line-height: 25px;
    }
    .elementor-142 .elementor-element.elementor-element-0b3ac17 .elementor-heading-title {
        font-size: 16px;
        line-height: 22px;
    }
}