.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-182 .elementor-element.elementor-element-76aaf71.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-182 .elementor-element.elementor-element-76aaf71 {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 20px;
}

.elementor-182 .elementor-element.elementor-element-94203dd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-182 .elementor-element.elementor-element-94203dd.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-182 .elementor-element.elementor-element-94203dd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-182 .elementor-element.elementor-element-adacec9 {
    text-align: left;
}

.elementor-182 .elementor-element.elementor-element-adacec9 img {
    width: 130px;
}

.elementor-182 .elementor-element.elementor-element-35b8a52 .elementor-spacer-inner {
    height: 50px;
}

.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item:hover,
.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-feb084e);
    fill: var( --e-global-color-feb084e);
}

.elementor-182 .elementor-element.elementor-element-28ae706 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-feb084e);
}

#elementor-popup-modal-182 .dialog-message {
    width: 230px;
    height: 100vh;
    align-items: flex-start;
}

#elementor-popup-modal-182 {
    justify-content: flex-end;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-182 .dialog-close-button {
    display: flex;
    font-size: 25px;
}

#elementor-popup-modal-182 .dialog-widget-content {
    animation-duration: 0.5s;
    background-color: var( --e-global-color-25d3bfd);
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-182 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-182 .dialog-close-button svg {
    fill: #FFFFFF;
}

#elementor-popup-modal-182 .dialog-close-button:hover i {
    color: var( --e-global-color-feb084e);
}